@if (book) {
<div class="book-card" [routerLink]="['/buku', book.id]">
  <div class="card-image-container">
    <img [src]="book.coverImageUrl" [alt]="book.title" class="book-cover" />
    <div class="card-actions">
      <button
        class="action-btn favorite-btn"
        (click)="onToggleFavorite($event)"
        [class.active]="book.isFavorite"
      >
        @if (book.isFavorite) {
        <img
          src="assets/icons/mdi_book-heart.svg"
          alt="Favorit"
          class="action-icon-img"
        />
        } @else {
        <img
          src="assets/icons/mdi_book-heart-outline.svg"
          alt="Tambah ke Favorit"
          class="action-icon-img"
        />
        }
      </button>
    </div>
  </div>
  <div class="book-info">
    <p class="book-author">{{ book.author }}</p>
    <h3 class="book-title">{{ book.title }}</h3>
  </div>
</div>
}
