<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-item">
      <img src="assets/icons/mdi_location.svg" alt="Lokasi" class="icon-img" />
      <a
        href="https://www.google.com/maps/place/SDN+Gejayan/@-7.75731,110.3931487,651m/data=!3m2!1e3!4b1!4m6!3m5!1s0x2e7a599c04c87c97:0x87ebf5cae27e79ad!8m2!3d-7.7573153!4d110.3957236!16s%2Fg%2F1hm32g0xb?entry=ttu&amp;g_ep=EgoyMDI1MDYxMS4wIKXMDSoASAFQAw%3D%3D"
        >Lokasi</a
      >
    </div>
    <div class="footer-item">
      <img
        src="assets/icons/ic_baseline-email.svg"
        alt="Email"
        class="icon-img"
      />
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sdngejayan@gmail.com">sdngejayan&#64;gmail.com</a>
    </div>
    <div class="footer-item">
      <img
        src="assets/icons/icon-park-solid_phone-telephone.svg"
        alt="Telepon"
        class="icon-img"
      />
      <a
        href="https://api.whatsapp.com/send/?phone=620937292726362&amp;text&amp;type=phone_number&amp;app_absent=0"
      >
        +62 0937292726362</a
      >
    </div>
  </div>
  <div class="copyright">
    Copyright © {{ currentYear }} Perpustakaan Mekar SD Negeri Gejayan
  </div>
</footer>
