<div class="auth-container">
  <div class="left-panel">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
    <h1>Perpustakaan</h1>
    <h2>SD Negeri Gejayan</h2>
  </div>
  <div class="right-panel">
    <h3>Masuk Akun</h3>
    <p class="selection-prompt">Silakan pilih jenis akun Anda untuk masuk.</p>
    <div class="login-selection">
      <a routerLink="siswa" class="selection-btn">Saya Siswa</a>
      <a routerLink="staf" class="selection-btn">Saya Staf</a>
    </div>
    <div class="form-footer">
      <span>Belum memiliki akun? </span
      ><a routerLink="/register">Daftar sebagai siswa</a>
    </div>
  </div>
</div>
