<div class="informasi-page">
  <section class="about-section">
    <h1>Tentang Perpustakaan Mekar SD Negeri Gejayan</h1>
    <p class="intro-paragraph">
      Perpustakaan Mekar telah didirikan pada tahun 2012 dengan
      tujuan untuk memenuhi fasilitas sekolah di SD Negeri Gejayan. Saat ini
      Perpustakaan Mekar telah hadir dalam bentuk website yang memiliki manfaat untuk
      meningkatkan literasi siswa dengan meminjam dan membaca buku. Perpustakaan
      SD Negeri Gejayan ini telah memiliki berbagai informasi dan panduan kepada
      siswa, guru, hingga pengunjung yang telah mampir perpustakaan ini.
    </p>

    <h1>Slogan (8)K Perpustakaan Mekar</h1>
    <div class="visi-misi-container">
      <div class="vm-box">
        <ul>
          <li>KEAMANAN</li>
          <li>KEBERSIHAN</li>
          <li>KETERTIBAN</li>
          <li>KEINDAHAN</li>
          <li>KEKELUARGAAN</li>
          <li>KERINDANGAN</li>
          <li>KESEHATAN</li>
          <li>KEBERSIHAN</li>
        </ul>
      </div>
    </div>
    

    <h2>Visi dan Misi Perpustakaan Mekar SD Negeri Gejayan</h2>
    <div class="visi-misi-container">
      <div class="vm-box">
        <h3>Visi</h3>
        <p>
          "TERWUJUDNYA MUTU PENDIDIKAN BERDASARKAN IMAN DAN TAQWA DALAM KEBERAGAMAN"
        </p>
      </div>
      <div class="vm-box">
        <h3>Misi</h3>
        <ul>
          <li>Mengintegrasikan pembelajaran dan bimbingan kepada siswa dalam bidang pengajaran di sekolah, sehingga siswa berkembang
            secara optimal sesuai dengan potensi yang dimiliki.</li>
          <li>
            Membantu siswa yang mengalami kesulitan belajar secara spesifik untuk dapat meningkatkan belajar secara optimal.
          </li>
          <li>Menumbuhkan penghayatan terhadap ajaran agama yang dianut siswa agar menjadi pedoman dalam bertindak dan dapat terwujud siswa yang berbudi
            pekerti luhur.</li>
          <li>Menumbuhkan etos kerja yang tinggi kepada seluruh personil sekolah.</li>
          <li>Menciptakan lingkungan kerja yang kondusif. suasana KMB yang nyaman, siswa kerasan di kelas.</li>
          <li>Menjalin kerja sama yang erat dengan masyarakat sekitar dan instansi terkait dalam peningkatan mutu pendidikan.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="info-list-section">
    <h2>Daftar Informasi Perpustakaan Mekar SD Negeri Gejayan</h2>
    <div class="info-grid">
      @for (card of infoCards; track card.routerLink) {
      <div class="info-card">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
        <a [routerLink]="card.routerLink" class="details-link">
          <span>Selengkapnya</span>
          <img
            src="assets/icons/octicon_arrow-right-16.svg"
            alt="Selengkapnya"
          />
        </a>
      </div>
      }
    </div>
  </section>
</div>
