@if (totalPages > 0) {
<div class="pagination-container">
  <button
    class="pagination-button prev-next"
    [disabled]="currentPage === 1"
    (click)="goToPreviousPage()"
  >
    « Sebelumnya
  </button>

  @for (pageNum of pageNumbers; track $index) { @if (typeof pageNum ===
  'number') {
  <button
    class="pagination-button page-number"
    [class.active]="pageNum === currentPage"
    (click)="selectPage(pageNum)"
  >
    {{ pageNum }}
  </button>
  } @if (typeof pageNum === 'string') {
  <span class="pagination-ellipsis">{{ pageNum }}</span>
  } }

  <button
    class="pagination-button prev-next"
    [disabled]="currentPage === totalPages"
    (click)="goToNextPage()"
  >
    Selanjutnya »
  </button>
</div>
}
