:host {
  display: block;
}

.admin-dashboard-page {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  text-align: center;
  margin-top: -20px;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.admin-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.action-card {
  background-color: var(--content-bg-color);
  padding: 25px;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: var(--card-shadow);

  h3 {
    margin-top: 0;
    padding-bottom: 20px;
  }
  
  a {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: 500;
    border-radius: var(--border-radius);
  }

  .action-link {
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: var(--primary-bg-color);
    }
  }
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  text-align: center;

  &.loading {
    color: var(--secondary-text-color);
  }

  &.urgent {
    border-left: 4px solid #c5221f;
  }
}

.stat-number {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--text-color);
}

.stat-label {
  margin-top: 5px;
  font-size: 0.9em;
  color: var(--secondary-text-color);
}

@media (max-width: 992px) {
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .stats-container {
    grid-template-columns: 1fr;
  }
  .admin-actions {
    grid-template-columns: 1fr;
  }
}