.main-container {
  display: flex;
  margin-top: var(--header-height);
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--primary-bg-color);
  overflow-y: auto;
  margin-left: var(--sidebar-width);
  min-height: calc(100vh - var(--header-height) - 50px);
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .content-area {
    margin-left: var(--sidebar-collapsed-width);
  }
}
