<div class="auth-container">
  <div class="left-panel">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
    <h1>Perpustakaan</h1>
    <h2>SD Negeri Gejayan</h2>
  </div>
  <div class="right-panel">
    <h3>Daftar Akun</h3>
    <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <input type="text" placeholder="Nama" formControlName="nama" />
        @if (registerForm.get('nama')?.invalid &&
        registerForm.get('nama')?.touched) {
        <div class="field-error">Nama wajib diisi.</div>
        }
      </div>
      <div class="form-field">
        <input type="text" placeholder="NISN" formControlName="nisn" />
        @if (registerForm.get('nisn')?.invalid &&
        registerForm.get('nisn')?.touched) {
        <div class="field-error">NISN wajib diisi.</div>
        }
      </div>
      <div class="form-field">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        @if (registerForm.get('password')?.hasError('required') &&
        registerForm.get('password')?.touched) {
        <div class="field-error">Password wajib diisi.</div>
        } @if (registerForm.get('password')?.hasError('minlength') &&
        registerForm.get('password')?.touched) {
        <div class="field-error">Password minimal 6 karakter.</div>
        }
      </div>
      <div class="form-field">
        <input
          type="password"
          placeholder="Konfirmasi Password"
          formControlName="konfirmasiPassword"
        />
        @if (registerForm.hasError('passwordsMismatch') &&
        registerForm.get('konfirmasiPassword')?.touched) {
        <div class="field-error">Password tidak cocok.</div>
        }
      </div>

      @if (errorMessage) {
      <p class="error-message">{{ errorMessage }}</p>
      }

      <button
        type="submit"
        class="submit-btn"
        [disabled]="isLoading || registerForm.invalid"
      >
        Daftar
      </button>
    </form>
    <div class="form-footer">
      <span>Sudah memiliki akun? </span><a routerLink="/login">Masuk</a>
    </div>
  </div>
</div>
