<div class="auth-container">
  <div class="left-panel">
    <img src="assets/images/logo.png" alt="Logo" class="logo" />
    <h1>Perpustakaan</h1>
    <h2>SD Negeri Gejayan</h2>
  </div>
  <div class="right-panel">
    <h3>Masuk Staf</h3>
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <input type="email" placeholder="Email" formControlName="email" />
        @if (loginForm.get('email')?.hasError('email') &&
        loginForm.get('email')?.touched) {
        <div class="field-error">Format email tidak valid.</div>
        }
      </div>
      <div class="form-field">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      @if (errorMessage) {
      <p class="error-message">{{ errorMessage }}</p>
      }
      <button
        type="submit"
        class="submit-btn"
        [disabled]="isLoading || loginForm.invalid"
      >
        Masuk
      </button>
    </form>
    <div class="back-link">
      <a routerLink="/login/siswa">Masuk sebagai Siswa</a>
    </div>
  </div>
</div>
